  body {
    margin: 0;
  }
  
  /* Dark background overlay */
  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  /* Popup box */
  .popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  height: auto;
  width: fit-content;
  max-width: 225px;
  animation: pop 0.3s ease;
}

  
  @keyframes pop {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .popup h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #09244b;
    font-weight: 800;
  }

  #answerButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 100%;
    gap: 5%;
  }

  #download_prompt_icons {
    width: auto;
    height: 25px;
  }
  
  .popup button {
    width: 100%;
    height: 48px;
    margin: 5% 0 0 0;
    padding: 0px 0 0rem 0rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
  }
  
  .popup button.yes {
    background: #fff;
    border: 1px solid #007bff;
    color: #007bff;
  }
  
  .popup button.yes:hover {
    background: #007bff39;
  }
  
  .popup button.yes:active {
    background: #0056b3;
  }

  .popup button.no {
    background: #007bff;
    border: 1px solid #007bff;
    color: #fff;
  }
  
  .popup button.no:hover {
    background: #2b91ff;
  }